{% extends 'base.html.twig' %}

{% block title %}Voir mon compte | NewsPaper{% endblock %}

{% block body %}

    <h1 class="text-center my-4"> Votre profil </h1>

    <div class="row">
        <div class="col-8 mx-auto">
        {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto mb-4">
            <div class="card text-center">
                <div class="card-header">{{app.user.fullname | title}}</div>
                <div class="card-body">
                    <p class="card-text">{{app.user.email}}</p>
                    <h5 class="card-title">Total d'articles publiés : {{articles | length}}</h5>
                    <h5 class="card-title">Total de commentaires postés : {{commentaries | length}}</h5>
                    <a href="{{path('change_password')}}" class="btn btn-warning col-5">Changer mon mot de passe</a>
                </div>
                <div class="card-footer text-muted">
                    Compte créé {{app.user.createdAt | ago(locale='fr')}}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
